* {
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}

.cell {
    background-color: aliceblue;
    border: 1px solid #62A7EC;
    border-radius: 7px;
    margin:1rem;
}